<a href="https://colab.research.google.com/github/seungyeon38/Webtoon_recommendation_system/blob/master/%EC%BD%94%EC%8B%B8%EC%9D%B8%EC%9C%A0%EC%82%AC%EB%8F%84%EC%A0%81%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import string
string.punctuation
from math import log
import nltk
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk.tag import pos_tag
import re
from tqdm import tqdm
from gensim.summarization import keywords
from textblob import TextBlob

!pip install gensim

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (3.6.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.19.5)

In [2]:
comic = pd.read_csv('./sample_data/Webtoon Dataset.csv')

In [3]:
# 축약형 
contractions = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not", "didn't": "did not",  "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not", "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is", "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would", "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam", "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as", "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would", "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have", "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have", "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are", "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are", "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is", "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have", "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have", "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have", "you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have", "you're": "you are", "you've": "you have", "she's": "she is"}

def regularize_contractions(text):

    contractionfree_list = []
    
    for word in text.split(" "):
      if word in contractions.keys():
        contractionfree_list.append(contractions[word])
      else :
        contractionfree_list.append(word)
      
    return " ".join(contractionfree_list)

In [4]:
#defining the function to remove punctuation
# 글자가 puctuation에 해당하면 " "를, 해당하지 않으면 글자 그대로

def remove_punctuation(text):
    punctuationfree_list = []

    for word in text:
      if word in string.punctuation:
        punctuationfree_list.append(" ")
      else :
        punctuationfree_list.append(word)
    return "".join(punctuationfree_list)


# def remove_punctuation(text):
#     punctuationfree = "".join([i for i in text if i not in string.punctuation])
#     return punctuationfree

In [5]:
# #defining function for tokenization
# 숫자 포함 토큰화
# def tokenization(text):
#     tokens = re.split('\W+', text)

#     return tokens

# 영어만 단어단위로 토큰화
p = re.compile('[a-z]+')

def tokenization(text):
    # print(text)
    result = p.findall(text)
    # print(result)
    return result

In [6]:
#stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
# print(stopwords[:20]) 

#defining the function to remove stopwords from tokenized text
# stopwords 제거 
def remove_stopwords(text):
    for word in text:
      output= [word for word in text if word not in stopwords]
    return output

In [7]:
#setting lower case
comic['Lower_Summary'] = comic['Summary'].apply(lambda x: x.lower())
comic['Lower_Summary'].head(3)

0    she's young, single and about to achieve her d...
1    after binge-watching beauty videos online, a s...
2    after making a grisly discovery in the country...
Name: Lower_Summary, dtype: object

In [8]:
comic['No_Contraction_Summary'] = comic['Lower_Summary'].apply(lambda x:regularize_contractions(x))
comic['No_Contraction_Summary'].head(3)

0    she is young, single and about to achieve her ...
1    after binge-watching beauty videos online, a s...
2    after making a grisly discovery in the country...
Name: No_Contraction_Summary, dtype: object

In [9]:
comic['Clean_Summary'] = comic['No_Contraction_Summary'].apply(lambda x:remove_punctuation(x))
comic['Clean_Summary'].head(3)

0    she is young  single and about to achieve her ...
1    after binge watching beauty videos online  a s...
2    after making a grisly discovery in the country...
Name: Clean_Summary, dtype: object

In [10]:
#applying function to the column
comic['Tokenied_Summary'] = comic['Clean_Summary'].apply(lambda x: tokenization(x))

comic['Tokenied_Summary'].head(3)

0    [she, is, young, single, and, about, to, achie...
1    [after, binge, watching, beauty, videos, onlin...
2    [after, making, a, grisly, discovery, in, the,...
Name: Tokenied_Summary, dtype: object

In [11]:
#applying the function
comic['No_Stopwords_Summary'] = comic['Tokenied_Summary'].apply(lambda x:remove_stopwords(x))

comic['No_Stopwords_Summary'].head(3)

0    [young, single, achieve, dream, creating, incr...
1    [binge, watching, beauty, videos, online, shy,...
2    [making, grisly, discovery, countryside, small...
Name: No_Stopwords_Summary, dtype: object

In [12]:
# df1 = comic['No_Stopwords_Summary']
# doc_words_list = df1.values.tolist()

# print(doc_words_list)


def wordlist_to_string(words_list) :
  doc = []
  for doc_word in words_list :
    doc.append(doc_word)
  return " ".join(doc)


#comic['Summary_final'] = comic['Stemmed_Summary'].apply(lambda x:wordlist_to_string(x))
comic['Summary_final'] = comic['No_Stopwords_Summary'].apply(lambda x:wordlist_to_string(x))

comic['Summary_final'].head(3)

0    young single achieve dream creating incredible...
1    binge watching beauty videos online shy comic ...
2    making grisly discovery countryside small town...
Name: Summary_final, dtype: object

In [13]:
def extract_keywords(doc):
  keyword_list = []
  keyword_string = keywords(doc)
  keyword_list = keyword_string.split('\n')

  return keyword_list;


comic['Summary_Keywords'] = comic['Summary_final'].apply(lambda x:extract_keywords(x))

comic.head(3)

   id  ...                                   Summary_Keywords
0   0  ...  [game, gaming, popular streamer, single, life,...
1   1  ...  [secret, lived, watching, standing, prettiest ...
2   2  ...          [underworld, takes, intimidating, grisly]

[3 rows x 17 columns]

In [14]:
comic_df = comic[['id','Name', 'Writer', 'Genre', 'Rating',
                 'Summary_Keywords']]
comic_df.head(1)

   id        Name  ... Rating                                   Summary_Keywords
0   0  Let's Play  ...   9.62  [game, gaming, popular streamer, single, life,...

[1 rows x 6 columns]

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

comic_df['Summary_literal'] = comic_df['Summary_Keywords'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
Summary_mat = count_vect.fit_transform(comic_df['Summary_literal'])
print(Summary_mat.shape)

(569, 3808)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# 569개의 레코드, 3808개의 개별 단어 피처

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

Summary_sim = cosine_similarity(Summary_mat, Summary_mat)
print(Summary_sim.shape)
print(Summary_sim[:2])

(569, 569)
[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]]

In [17]:
Summary_sim_sorted_ind = Summary_sim.argsort()[:, ::-1]
print(Summary_sim_sorted_ind[:1])

[[  0 415 135 260  23 490 239 443 248 319 326 191 355 250 107  18  94 230
    8  76  92 329  37 351  58 410  97 401 174 179 262  15 509 264 213  85
   99  77  45 188 210  98 125 211 354 411  60 238 186 177 266 178 265 180
  181 182 183 184 185 187 175 263 189 190 261 272 192 193 194 195 196 197
  176 267 259 268 152 153 275 154 155 156 157 158 159 269 160 161 162 163
  164 165 274 166 167 168 169 170 171 172 173 198 257 258 244 219 220 221
  222 223 224 225 226 227 246 245 228 237 229 243 242 231 232 233 234 235
  241 236 240 218 217 216 215 199 200 273 201 256 202 203 204 255 205 254
  206 253 207 208 209 252 270 251 249 212 247 214 271 141 151  54  39  40
   41  42  43  44  46  47  48  49  50  51  52  53  55  73  56  57  59  61
   62  63  64  65  66  67  68  69  70  71  38  36  35  34   1   2   3   4
    5   6   7   9  10  11  12  13  14  16  17  19  20  21  22  24  25  26
   27  28  29  30  31  32  33  72  74 150 133 118 119 120 121 122 123 124
  126 127 128 129 130 131 132 134  75 136 137 138 139 140 277 142 143 144
  145 146 147 148 149 117 116 115 114  78  79  80  81  82  83  84  86  87
   88  89  90  91  93  95  96 100 101 102 103 104 105 106 108 109 110 111
  112 113 276 568 278 472 478 477 476 475 474 473 471 463 470 469 468 467
  466 465 479 480 481 482 483 484 485 486 487 488 489 491 492 493 494 495
  496 464 462 427 436 442 441 440 439 438 437 435 461 434 433 432 431 430
  429 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460
  497 498 499 543 549 548 547 546 545 544 542 500 541 540 539 538 537 536
  550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 535
  534 533 516 501 502 503 504 505 506 507 508 510 511 512 513 514 515 517
  532 518 519 520 521 522 523 524 525 526 527 528 529 530 531 428 426 279
  323 331 330 328 327 325 324 322 313 321 320 318 317 316 315 332 333 334
  335 336 337 338 339 340 341 342 343 344 345 346 347 348 314 312 425 287
  293 292 291 290 289 288 286 311 285 567 283 282 281 280 294 295 296 297
  298 299 300 301 302 303 304 305 306 307 308 309 310 349 350 352 397 404
  403 402 400 399 398 396 353 395 394 393 392 391 390 405 406 407 408 409
  412 413 414 416 417 418 419 420 421 422 423 424 389 388 387 370 356 357
  358 359 360 361 362 363 364 365 366 367 368 369 371 386 372 373 374 375
  376 377 378 379 380 381 382 383 384 385 284]]

In [ ]:
# 0번 레코드의 경우 415번과 가장 유사, 284번과 가장 유사하지 않음

In [18]:
def find_sim_comic(df, sorted_ind, c_name, top_n=10):
    comic_name = df[df['Name'] == c_name]
    comic_index = comic_name.index.values
    similar_indexes = sorted_ind[comic_index, :(top_n*5)]
    similar_indexes = similar_indexes.reshape(-1)
    print(similar_indexes)
    return df.iloc[similar_indexes][:top_n]
    # 마지막 대신 이거 쓰면 return df.iloc[similar_indexes].sort_values('Rating', ascending=False)[:top_n] 평점순으로

In [19]:
# 'Death of a Pop Star'와 비슷한 키워드 가진 웹툰 10개 추천
similar_comic = find_sim_comic(comic_df, Summary_sim_sorted_ind, 'Death of a Pop Star',10)
similar_comic[['Name', 'Rating' , 'Summary_Keywords']]

[ 30 104   2  80 220 545 101 277 249 183 182 184 192 181 185 186 187 188
 189 190 191 195 193 202 208 207 206 205 204 203 201 194 200 199 198 197
 196 179 180 568 178 153 159 158 157 156 155 154 152 161]

                       Name  ...                                   Summary_Keywords
30      Death of a Pop Star  ...                       [takes, lucky, reaper, dead]
104                Oh! Holy  ...                 [invisible, takes, school, remain]
2       Midnight Poppy Land  ...          [underworld, takes, intimidating, grisly]
80              The Horizon  ...                         [dead bodies, event wiped]
220      When Jasy Whistles  ...                 [old, times, asuncion, jasy, dead]
545                  Rotten  ...                   [evil, sees dead people officer]
101           Gourmet Hound  ...         [taste, loved years lucky accident, woman]
277         Rise from Ashes  ...  [ghosts, ghost, dead, world, abandoned house, ...
249                  Nomads  ...  [nomads, nomad, turn, turns, starts, start, sp...
183  The God of High School  ...                    [high school, plot, god, began]

[10 rows x 3 columns]